<div class="small_card--container">
  <div class="small_card--image">
    <img
      src="../../../assets/img/SAM_1307.JPG"
      alt=""
      class="small_card--image_content"
    />
  </div>
  <div class="small_card--news">
    <div class="small_card--date">
      <p class="small_card--date_content">quarta 11/10/2023</p>
    </div>
    <div class="small_card--title">
      <h2 class="small_card--title_content">Pintura: Ancorado ao por do sol</h2>
    </div>
    <div class="small_card--notice">
      <p class="small_card--notice_content">
        Esta pintura do Artista Angelo Dametto retrata mais uma vez a
        perspectiva do artista sobre o cotidiano do dordeste brasileiro,
        retratando toda a beleza e cores da região. A pintor, que tem uma paixão
        pelo verde e o amarelo, mostra sob seu prisma mais uma vez a diversidade
        braileira em suas obras
      </p>
    </div>
  </div>
</div>
