.container--nav_bar > ul {
  display: flex;
}
li {
  margin: 1rem 0 0 2rem;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 500;
}
a {
  list-style: none;
  text-decoration: none;
}
.bxl-linkedin-square {
  color: rgb(0, 4, 212);
}
.bxl-facebook-square {
  color: rgb(0, 4, 212);
}
