<div class="container--nav_bar">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/rafael-fortunato-41303192/"
        target="_blank"
        ><i class="bx bxl-linkedin-square"></i> Linkedin</a
      >
    </li>
    <li>
      <a href="https://github.com/Caco0" target="_blank"
        ><i class="bx bxl-github"></i> GitHub</a
      >
    </li>
    <li>
      <a href="https://www.facebook.com/rfdametto" target="_blank"
        ><i class="bx bxl-facebook-square"></i> Facebook</a
      >
    </li>
  </ul>
</div>
