<!-- <app-nav-bar></app-nav-bar> -->

<app-title></app-title>
<div class="articles">
  <div class="articles--main">
    <app-big-card
      Id="1"
      cardDate="11/10/2023 - quarta feira"
      photoCover="../../../assets/img/SAM_1302.JPG"
      cardTitle="Obra - Ancorado na Praia"
      cardDescription="Obra de arte confeccionada na técnica Óleo sob Tela do artista Angelo
      Dametto. A pintura retrata o cotidiano do nordeste brasileiro retratando uma manhã onde
      um barco de pesca está ancorado na praia após voltar da pesca, é uma visão artística sob
      a ótica do artista que busca representar sua visão unica."
    ></app-big-card>
  </div>
  <div class="articles--notices">
    <app-small-card
      Id="2"
      cardDate="11/10/2023 - quarta feira"
      photoCover="../../../assets/img/SAM_1307.jpg"
      cardTitle="Obra - Ancorado ao por do Sol"
      cardDescription="Esta pintura retrata mais uma vez a perspectiva do artista sobre o
      cotidiano do Nordeste brasileiro, retratando toda a beleza e cores da
      região. A pintor, que tem uma paixão pelo verde e o amarelo, mostra sob
      seu prisma mais uma vez a diversidade brasileira em suas obras"
    ></app-small-card>
    <app-small-card
      Id="3"
      cardDate="11/10/2023 - quarta feira"
      photoCover="../../../assets/img/SAM_1311.jpg"
      cardTitle="Obra - Caminhos do Sertão"
      cardDescription="Esta obra retrata o cotidiano de uma paisagem no interior do estado de
      São Paulo, e suas peculiaridades bem como também toda sua beleza pitoresca"
    ></app-small-card>
    <app-small-card
      Id="4"
      cardDate="11/10/2023 - quarta feira"
      photoCover="../../../assets/img/SAM_1322.jpg"
      cardTitle="Obra - Liberdade"
      cardDescription="Nesta Obra totalmente imaginativa o artista retrata sua visão de liberdade, bem como
      todo o sentimento de viver sem medo e sem preconceito. Demostrando todo o vigor e disposição para realização
      da vida."
    ></app-small-card>
    <app-small-card
      Id="5"
      cardDate="12/10/2023"
      photoCover="../../../assets/img/SAM_1326.jpg"
      cardTitle="Obra - Caminhada"
      cardDescription="Esta obra retrata um sentido meditativo e inspiração pra reflexões profundas, levando-nos
      a uma introspecção. Também retrata o cotidiano do campo e sua conexão com a natureza, assim multifacetada esta
      obra leva-nos a depender de nossa condição emocional, de um passeio intimo a saudosas lembranças rurais"
    ></app-small-card>
  </div>
</div>
