.articles {
  display: flex;
}
img {
  margin: 2rem 2rem 0 2rem;
  width: 85%;
}
.big_card--date_content {
  margin: 0.325rem 2rem 0 2rem;
  font-size: 0.825rem;
}
.big_card--notice_content,
.big_card--title_content {
  margin: 1rem 2rem 0 2rem;
  width: 85%;
}

.big_card--title_content {
  color: rgb(187, 187, 187);
  font-size: 3rem;
}
.big_card--notice_content,
.big_card--date_content {
  color: gray;
}
