<div class="container_content">
  <div class="content--cover">
    <img src="../../../../assets/img/SAM_1310.JPG" alt="" />
  </div>
  <div class="content--title">
    <h1>Apreciação da Obra</h1>
    <hr />
  </div>
  <div class="content--appreciation">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolore ut
      beatae nobis dolor quam blanditiis, libero culpa aliquam fugit. Eos itaque
      modi excepturi blanditiis delectus ipsum inventore esse laudantium.
    </p>
  </div>
</div>
